.post-card-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 16px;
  gap: 16px;
}

.post-card-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.post-card-body-image {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  max-width: 512px;
}

.post-card-body-content {
  font-weight: 500;
  font-size: 15px;
}
