.main-layout {
  display: grid;
  grid-template-columns: 2.5fr 350px;
  grid-gap: 32px;
  width: 1024px;
  height: 100%;
}

.main-layout-sidebar {
  width: 100%;
  height: 100%;
}

.main-layout-content {
  border: 1px solid var(--border-color);
  position: relative;
  width: 100%;
  height: 100%;
}
