.whats-happening {
  display: flex;
  border-radius: 16px;
  border: 1px solid var(--border-color);
  min-height: 450px;
  width: 100%;
  padding: 12px 16px;

  & .whats-happening-title{
    font-size: 20px;
    font-weight: 600;
  }
}
